#/bin
#/target

# IDE :
# -----
# - [Eclipse]
.settings/
.metadata/
target/

# Generic files to ignore :
# -------------------------
# - Apple temp
.DS_Store


# Languages :
# -----------
# - [Java]
*.class
